<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
      ~{::title},
      ~{:: #home-main-content}
      )}">
<head>
    <title>Home</title>
</head>
<body>

<!-- Blog main content -->
<div id="home-main-content">
    <a th:href="@{/create}" class="btn btn-primary btn-sm mb-3" >Add</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Middle name</th>
                <th scope="col">Last name</th>
                <th scope="col">Department</th>
                <th scope="col">Category</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${employees.empty}">
                <td colspan="2"> No Employees Available</td>
            </tr>
            <tr th:each="employee : ${employees}">
                <td><span th:text="${employee.firstName}"> </span></td>
                <td><span th:text="${employee.middleName}"> </span></td>
                <td><span th:text="${employee.lastName}"> </span></td>
                <td><span th:text="${employee.department}"> </span></td>
                <td><span th:text="${employee.category}"> </span></td>
                <td> <a th:href="@{/{id}(id=${employee.id})}"
                        class="btn btn-primary">Update</a>
                    <a th:href="@{/{id}(id=${employee.id})}"
                       class="btn btn-danger">Delete</a>
            </tr>
        </tbody>
    </table>
</div>

</body>

</html>
